$gray: #858585;
$white: #ffffff;

$shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

$border-color: rgba(84, 95, 125, 15%);

$dark: (
  "50": #f2f6f7,
  "100": #e9edf0,
  "200": #c7d2d9,
  "300": #abb8c2,
  "400": #738394,
  "500": #475467,
  "600": #39465c,
  "700": #28354d,
  "800": #19253d,
  "900": #0e172e,
  "950": #060c1f,
);

$secondary-variant: (
  "50": #fbf5ff,
  "100": #f4e8fc,
  "200": #e7ccfc,
  "300": #d2acfa,
  "400": #a371f5,
  "500": #6938ef,
  "600": #582ed9,
  "700": #411eb3,
  "800": #2f148f,
  "900": #1e0b6b,
  "950": #0f0545,
);
