@use '../styles/index.scss' as *;
@forward "../styles/colors.scss";

.main {
    background-color: $white;
    padding: 3rem;
    width: 75%;
    @include sm() {
    width: 90%;

        padding: 1rem;
    }
    margin: 5rem auto;
    border-radius: 4px;
    box-shadow: $shadow;

    &_profile {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: auto;       
        max-width: 150px;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }
}